html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  display: inline-block;
  margin: 0;
  padding: 10px;
  width: 250px;
  height: 162px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transform: scale(.6, .6);
  transition: all 200ms ease;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: relative;
  left: 31%;
  bottom: 25px;
}

.polaroid:nth-child(1) {
  left: 180px;
  top: 100px;
  transform: rotate(-12deg);
  z-index: 0;
}

.polaroid:nth-child(2) {
  left: 280px;
  top: 150px;
  transform: rotate(6deg);
  z-index: 100;
}

.polaroid:nth-child(3) {
  left: 375px;
  top: 100px;
  transform: rotate(30deg);
}

/** !!!!!!!!!!!!!!!!!!!!! HOVER STATES START HERE !!!!!!!!!!!!!!!!!!!!!!!!! **/

.polaroid:hover {
  transform: rotate(0deg);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .7);
}

.polaroid:nth-child(1):hover {
  z-index: 500;
}

.polaroid:nth-child(2):hover {
  z-index: 500;
}

.polaroid:nth-child(3):hover {
  z-index: 500;
}
